<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body>
<h1>留言板</h1>
<div>
    <h2>以往留言</h2>
    {% for message in messages %}
        <p>{{ message.timestamp }}: {{ message.message }}</p>
    {% endfor %}
</div>
<div>
    <h2>添加留言</h2>
    <form action="/post/add" method="POST">
        <label>
            留言：
            <textarea name="message"></textarea>
        </label>
        <button type="submit">提交</button>
    </form>
</div>
</body>
</html>